@model PROJETO.A3.USJT.Models.Recurso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}


<div class="container" style="margin-top: 50px">
    <h4>Recurso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Recurso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeRecurso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    <div>
        <a asp-action="Index" class=" btn btn-secondary">Voltar para Lista</a>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.RecursoId">Editar</a>
    </div>
</div>
