@model PROJETO.A3.USJT.Models.Recurso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h1>Edit</h1>

<h4>Recurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecursoId" />
            <div class="form-group">
                <label asp-for="NomeRecurso" class="control-label"></label>
                <input asp-for="NomeRecurso" class="form-control" />
                <span asp-validation-for="NomeRecurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioInclusao" class="control-label"></label>
                <input asp-for="UsuarioInclusao" class="form-control" />
                <span asp-validation-for="UsuarioInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInclusao" class="control-label"></label>
                <input asp-for="DataInclusao" class="form-control" />
                <span asp-validation-for="DataInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioAlteracao" class="control-label"></label>
                <input asp-for="UsuarioAlteracao" class="form-control" />
                <span asp-validation-for="UsuarioAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
