<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOS PET </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROJETO.A3.USJT.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="imagex/png" href="~/imgs/icons/icon-app.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
</head>
<body class="font-site">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top shadow" style="background-color:white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/imgs/logo-app.png" alt="SOS PET" width="100" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#aboutus">Quem somos?</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="#contact">Contato</a>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                                <a class="nav-link-active btn btn-outline-primary" aria-current="page" asp-controller="Usuarios" asp-action="Login">Área do Voluntário</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="site-footer" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>S.O.S. PET ONG</h6>
                        <p class="text-justify">
                            A S.O.S PET ONG tem como seu principal
                            único objetivo antender a animais de ruas necessitados dando
                            ênfase em câes e gatos. Resgatar, cuidar e doar. Esta é a nossa missão.

                        </p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>O nosso Site</h6>
                        <ul class="footer-links">
                            <li><a href="">Home</a></li>
                            <li><a href="#aboutus">Quem somos?</a></li>
                            <li><a href="">Petss</a></li>
                            <li><a href="">Contato</a></li>

                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Nossos Contatos</h6>
                        <ul class="footer-links">
                            <li><a href="mailto:contato@k2wsoftware.com.br">contato@sospet.com.br</a></li>
                            <li><a href="">WhatsApp</a></li>
                            <li><a href="">(11) 91111-0000</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            &copy; 2023 - ONG S.O.S. PET Z- São Paulo - Brasil
                            <a href="#"></a>
                        </p>
                    </div>


                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
