@using PROJETO.A3.USJT.Utils;
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOS PET </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROJETO.A3.USJT.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="imagex/png" href="~/imgs/icons/icon-app.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

</head>
<body class="font-site">
    <header>
        <nav class="navbar navbar-light shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="~/imgs/logo-app.png" alt="SOS PET" width="100" height="50"> </a>
                <h5>Portal do Voluntário</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portal do Voluntário</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Animals" asp-action="Index">Controle de Animais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Eventos" asp-action="Index">Eventos e Participações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Recursos" asp-action="Index">Gestão de Recursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Voluntarios" asp-action="Index">Voluntários</a>
                            </li>
                            <hr />
                            <li class="nav-item ">
                                <div class="d-grid gap-2 col-12 mx-auto ">
                                    <a href="index.html" class="btn btn-outline-danger"><i class="fa-solid fa-door-open"></i> Realizar Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3 mt-4" >
        @RenderBody()
    </main>

    <footer class="border-top footer fixed-bottom text-muted shadow" style="background-color:#f5f3f2">
        <div class="container mt-2 mb-2">
            &copy; 2023 - SOS PETS - Portal do Voluntário <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>







<script>
    $(document).ready(function () {
        $('#tableAnimais').DataTable({
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
            }
            
        });
    });

</script>

































@if (TempData[TempDataConsts.InsertSuccess] != null)
{
    <script>
        const successToast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        successToast.fire({
            icon: 'success',
            title: 'Cadastrado com sucesso.'
        })
    </script>
}
@if (TempData[TempDataConsts.RemoveSuccess] != null)
{
    <script>
        const successToast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        successToast.fire({
            icon: 'success',
            title: 'Excluído com sucesso.'
        })
    </script>
}
<script src="https://kit.fontawesome.com/ee6c7ae3b5.js" crossorigin="anonymous"></script>
</html>
