@model PROJETO.A3.USJT.Models.Dashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h3>Olá, Daniel Cardoso!</h3>
            <h5>
                Bem-vindo ao Portal do Voluntário! Confira abaixo a dashboard de como está a S.O.S. PET hoje!
            </h5>
            <hr />
        </div>
    </div>
    <div class="row mt-4">
        <h4>Menu Rápido</h4>
        <div class="col-md-4">
            <a class="card shadow text-center dash-card" asp-controller="Animals" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black">Animais</h5>
            </a>
        </div>
        <div class="col-md-4">
            <div class="card shadow text-center dash-card" style="cursor: pointer;">
                <h5 class="mb-3 mt-3">Voluntários</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow text-center dash-card" style="cursor: pointer;">
                <h5 class="mb-3 mt-3">Eventos</h5>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <div id="chart-bars"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <div id="chart-pie"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <div id="chart-area"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var doados = @System.Text.Json.JsonSerializer.Serialize(Model.Doados15DaysChart);
    var acolhidos = @System.Text.Json.JsonSerializer.Serialize(Model.Acolhidos15DaysChart);
    @{
        string json = System.Text.Json.JsonSerializer.Serialize(Model.Datas15DaysChart);
        string jsonArray = $"JSON.parse('{json}')";
    }
    var datas = @Html.Raw(jsonArray);
    console.log(datas);

    //grafico de barras
    var options = {
        series: [{
            name: 'Doados',
            type: 'column',
            data: doados
        }, {
            name: 'Acolhidos',
            type: 'line',
            data: acolhidos
        }],
        chart: {
            height: 350,
            type: 'line',
        },
        stroke: {
            width: [0, 4]
        },
        title: {
            text: 'Correlação de Animais Acolhidos e Doados'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1]
        },
        labels: datas,
        xaxis: {
            type: 'text'
        },
        yaxis: [{
            title: {
                text: 'Doados',
            },

        }, {
            opposite: true,
            title: {
                text: 'Acolhidos'
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-bars"), options);
    chart.render();





    //Gráfico de Pizza
    var options = {
        series: [@Model.CachorrosContagem, @Model.GatosContagem],
        chart: {
            width: 380,
            type: 'pie',
        },
        title: {
            text: 'Cães x Gatos na ONG hoje'
        },
        labels: ['Cães', 'Gatos'],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-pie"), options);
    chart.render();


    var options = {
        series: [{
            name: "STOCK ABC",
            data: series.monthDataSeries1.prices
        }],
        chart: {
            type: 'area',
            height: 350,
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },

        title: {
            text: 'Fundamental Analysis of Stocks',
            align: 'left'
        },
        subtitle: {
            text: 'Price Movements',
            align: 'left'
        },
        labels: series.monthDataSeries1.dates,
        xaxis: {
            type: 'datetime',
        },
        yaxis: {
            opposite: true
        },
        legend: {
            horizontalAlign: 'left'
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-area"), options);
    chart.render();
</script>