@{
    ViewData["Title"] = "ONG";
}

<div class="text-center adjust-top" style="margin-top: -90px;">

    <div>
        <img src="~/imgs/banner-home.png" alt="..." style="max-width: 100%;height: auto;">
    </div>
    <div class="container mb-5">
        <div class="row mt-5 text-center">
            <h2 class="mt-5">Como os nossos animais passam pela S.O.S. PET:</h2>
        </div>
        <div>
            <div class="container text-center">
                <hr />
                <div class="row">
                    <div class="col-sm-3 mt-5">
                        <img src="~/imgs/icons/patas-icon.png" alt="..." class="mb-3" />
                        <h4>Acolhimento</h4>
                        <h6>Resgate do animalzinho <br />e alimentação</h6>
                    </div>
                    <div class="col-sm-3 mt-5">
                        <img src="~/imgs/icons/voluntarios-icon.png" alt="..." class="mb-3" />
                        <h4>Cuidados Médicos</h4>
                        <h6>Primeiro Socorros, Vitaminas<br/>e Vacinas</h6>
                    </div>
                    <div class="col-sm-3 mt-5">
                        <img src="~/imgs/icons/icon-pets-acolhidos.png" alt="..." class="mb-3" />
                        <h4>Eventos</h4>
                        <h6>O animalzinho é designado<br/> para feiras de doações</h6>
                    </div>
                    <div class="col-sm-3 mt-5">
                        <img src="~/imgs/icons/pets-doados-icon.png" alt="..." class="mb-3" />
                        <h4>Doação</h4>
                        <h6>Encontramos um lar para o pet <br/>com muito amor e carinho!</h6>
                    </div>
                    
                    
                </div>
                <div class="row mt-5 ">
                    <h5>
                        Gostou? Quer fazer parte da diferença também? Saiba mais sobre o
                        nosso trabalho, e descubra como você pode nos ajudar nesta causa!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div id="aboutus" class="mt-5"></div>
    <div class="mt-5">
        <div class="card bg-dark text-white">
            <img src="~/imgs/animal-background-aboutus.jpg" class="card-img" alt="...">
            <div class="card-img-overlay container" style="display: flex; align-items: center;">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="card-title">Quem somos?</h2>
                        <hr/>
                        <p class="card-text" style="text-align: justify">
                            A SOSPET é uma Organização Não Governamental (ONG) dedicada a acolher, cuidar e doar cães e gatos desamparados. Nossa missão é proporcionar amor, cuidado e uma segunda chance para animais que, de outra forma, estariam em situações precárias ou enfrentando o risco de serem abandonados. Fundada em [ano de fundação], a SOSPET tem sido um farol de esperança para inúmeros animais de estimação e uma fonte de apoio para aqueles que buscam promover o bem-estar dos animais.
                            <br/><br/>
                            <b>Nossa História:</b>

                            A história da SOSPET é repleta de compaixão e dedicação.

                            Ao longo dos anos, a SOSPET cresceu e evoluiu, expandindo suas operações e impacto na comunidade. Hoje, somos uma equipe diversificada de voluntários, veterinários, cuidadores, educadores e apoiadores dedicados, todos trabalhando em harmonia para melhorar a vida dos animais de estimação necessitados.
                            <br/><br/>
                            <b>Nossa Missão:</b>


                            Acolher: Resgatamos animais em situações de abandono, maus-tratos e negligência. Oferecemos um abrigo seguro, alimentação adequada e cuidados médicos para cada animal que entra em nossas instalações. Todos os animais são tratados com respeito e carinho, independentemente de sua idade, raça ou condição de saúde.

                            Cuidar: O bem-estar dos animais é a nossa prioridade máxima. Nossos veterinários altamente qualificados garantem que cada animal receba os cuidados médicos necessários, incluindo vacinações, esterilizações e tratamento de doenças. Além disso, nossa equipe de cuidadores proporciona amor e socialização, ajudando os animais a se recuperarem tanto fisicamente quanto emocionalmente.

                            Doar: Uma vez que um animal esteja pronto para um novo lar, fazemos todo o possível para encontrar famílias amorosas e responsáveis. Realizamos um rigoroso processo de adoção, incluindo entrevistas, visitas domiciliares e orientações pós-adoção para garantir que nossos animais tenham a melhor chance de uma vida feliz e duradoura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 text-center">
            <div class="row mt-5">
                <div class="col-sm-6 mt-5 mb-2 text-center" style="margin-top: 80px">
                    <h3>Ei, você aí! Já pensou nas vantagens de adotar um gatinho?</h3>
                    <p>
                        Será que "O melhor amigo do homem" é um termo que só vale para os cachorros? E
                        se eu
                        te disser que um amiguinho
                        de garras e dentes bem afiados pode também ser seu melhor amigo?
                    </p>
                </div>
                <div class="col-sm-6">
                    <div id="carouselExampleIndicators" class="carousel slide shadow rounded"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/imgs/carousel-1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/carousel-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/carousel-3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/carousel-4.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <div id="contact"></div>
                    <div class="container">
                        <div class="row mt-5 text-center">
                            <h3>Localização e Contato:</h3>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-6 align-middle">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.982198433489!2d-46.62826252467185!3d-23.497150678844015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef74c1baa478d%3A0x6432a2e5cac40528!2sUniversidade%20S%C3%A3o%20Judas%20-%20Unidade%20Santana!5e0!3m2!1spt-BR!2sbr!4v1695574061280!5m2!1spt-BR!2sbr"
                                        width="500" height="350" style="border:0;" allowfullscreen=""
                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        class="rounded"></iframe>
                            </div>
                            <div class="col-sm-6 align-middle">
                                <h5>Encontre todas as maneiras de entrar em contato conosco:</h5>
                                </br>

                                <div class="accordion accordion-flush " id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#endereco" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo">
                                                Endereço
                                            </button>
                                        </h2>
                                        <div id="endereco" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingTwo"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Rua Voluntários da Pátria, 455 -
                                                Santana - São Paulo/SP
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                Telefone
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingOne"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">(11) 2331-0088</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo">
                                                E-mail
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingTwo"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">contato@sospet.com.br</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#social" aria-expanded="false"
                                                    aria-controls="flush-collapseThree">
                                                Redes Sociais
                                            </button>
                                        </h2>
                                        <div id="social" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingThree"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Facebook: S.O.S. PET BRASIL
                                                Instagram: ongsospet
                                                WhatsApp: (11) 99843-0101
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#doacao" aria-expanded="false"
                                                    aria-controls="flush-collapseThree">
                                                Doações
                                            </button>
                                        </h2>
                                        <div id="doacao" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingThree"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Nossa Chave Pix para Doações:<br/>(11) 998445-1221<br />ongsospet.pix@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</div>
</div>
<script src="wwwroot/lib/jquery/dist/jquery.min.js"></script>
<script src="wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="wwwroot/js/site.js" asp-append-version="true"></script>


<script>
    var i = setInterval(function () {

        clearInterval(i);

        // O código desejado é apenas isto:
        document.getElementById("loading").style.display = "none";
        document.getElementById("conteudo").style.display = "inline";

    }, 0);

    window.onscroll = function () { myFunction() };

    function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("progress-bar").style.width = scrolled + "%";
    }

    var root = document.documentElement;
    root.className += ' js';

    function boxTop(idBox) {
        var boxOffset = $(idBox).offset().top;
        return boxOffset;
    }

    $(document).ready(function () {
        var $target = $('.anime'),
            animationClass = 'anime-init',
            windowHeight = $(window).height(),
            offset = windowHeight - (windowHeight / 4);

        function animeScroll() {
            var documentTop = $(document).scrollTop();
            $target.each(function () {

                if (documentTop > boxTop(this) - offset) {
                    $(this).addClass(animationClass);
                } else {
                    $(this).removeClass(animationClass);
                }
            });
        }

        animeScroll();

        $(document).scroll(function () {
            setTimeout(function () { animeScroll() }, 150);
        });
    });
</script>

