@model PROJETO.A3.USJT.Models.Evento

@{
    ViewData["Title"] = "Novo Evento";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div class="container">
    <h3>Inclusão de Evento</h3>


    <div class="row">
        <div class="container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Título</label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Subtítulo</label>
                            <input asp-for="DescBreve" class="form-control" />
                            <span asp-validation-for="DescBreve" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Data Evento</label>
                            <input asp-for="DataEvento" class="form-control" />
                            <span asp-validation-for="DataEvento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Endereço</label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mt-3">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

